[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DPComb"]
	path = DPComb
	url = https://github.com/zwulab/dpcomb
[submodule "GFisher"]
	path = GFisher
	url = https://github.com/zwulab/gfisher
[submodule "Qapprox"]
	path = Qapprox
	url = https://github.com/zwulab/qapprox
[submodule "SetTest"]
	path = SetTest
	url = https://github.com/zwulab/settest
[submodule "TFisher"]
	path = TFisher
	url = https://github.com/zwulab/tfisher
